.footer__container {
    width: 100%;
    background: #f0f2f3;
    margin-top: 8px;
    display: flex;
    justify-content: center;
}

.footer {
    max-width: 824px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    line-height: 16px;
}

.footer__links {
    display: flex;
}

.footer__link {
    margin-right: 12px;
    cursor: pointer;
}

@media screen and (max-width: 668px) {
    .footer {
        flex-direction: column;
        padding: 0 0 12px 16px;
    }

    .footer__links {
        padding: 12px 0;
    }
}
