.build__forf_container {
    padding: 20px;
}

.build__input {
    color: #000000;
    width: -webkit-fill-available;
    outline: none;
    border-radius: 5px;
    padding: 10px 13px;
    line-height: 15px;
    letter-spacing: 0.06px;
    opacity: 0.2;
}

.build__input:focus {
    opacity: 1;
}

.build__input_icon {
    position: absolute;
    right: 10px;
    top: 22px;
    cursor: pointer;
    z-index: 2;
}

.build__input_container {
    padding: 12px 0 0px 0px;
    position: relative;
}

.build__error {
    position: absolute;
    top: 0px;
    color: red;
    border-color: red;
    font-size: 10px;
}

.build__input_error {
    border: 2px solid red;
    width: -webkit-fill-available;
    outline: none;
    border-radius: 4px;
    padding: 10px 13px;
    line-height: 15px;
    letter-spacing: 0.06px;
}

.build__buttons {
    display: flex;
    margin-top: 12px;
}

.build__button {
    padding: 10px 20px;
    background: #f2f2f2;
    color: #7f7f7f;
    opacity: 0.5;
    border-radius: 4px;
    width: max-content;
    cursor: pointer;
    margin-right: 8px;
    border: 2px solid #f2f2f2;
}

.build__button_run {
    background: #ffcc00;
    padding: 10px 20px;
    border-radius: 4px;
    width: max-content;
    cursor: pointer;
    border: 2px solid #ffcc00;
    margin-right: 8px;
}

.build__button_run:hover {
    background: #f2c200;
    border: 2px solid #f2c200;
    margin-right: 8px;
}

.build__button_run:active {
    background: #ffcc00;
    border: 2px solid #b38f00;
    margin-right: 8px;
}

.build__button_cansel {
    background: #e6e6e6;
    padding: 10px 20px;
    border-radius: 4px;
    width: max-content;
    cursor: pointer;
    border: 2px solid #e6e6e6;
}

.build__button_cansel:hover {
    background: #dbdbdb;
    border: 2px solid #e6e6e6;
}
.build__button_cansel:active {
    border: 2px solid #b3b3b3;
}

@media screen and (max-width: 668px) {
}

@media screen and (max-width: 376px) {
    .build__buttons {
        display: block;
        text-align: center;
    }

    .build__button {
        width: 85%;
        margin-bottom: 10px;
    }
    .build__button_run {
        width: 85%;
        margin-bottom: 10px;
    }

    .build__button_cansel {
        width: 85%;
    }
}
