{
    "extends": [
        "react-app",
        "airbnb",
        "plugin:jsx-a11y/recommended"
    ],
    "rules": {
        "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
        "react/jsx-props-no-spreading": "off",
        "react/prop-types": "off"
    }
}